/**
 * Icons
 */
.icon {
    display: inline-block;
    > svg {
        display: inline-block;
        width: 24px;
        height: 24px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}

.contact-list{
	li{
		margin-bottom: 1em;
		a:hover svg path{
			fill: darken($grey-color, 50%);
		}
	}
}
.contact-label{
    display: inline-block;
    min-width: 4.5em;
    &:after{
        content: ':';
    }
}