<ul class="contact-list">
    {{#each content.contactList}}
        <li>
            {{#if this.url}}
                <a href="{{ this.url }}">
                    {{ this.title }}
                </a>
            {{else}}
                <a href="" id="email_link"></a>
                <noscript>firstname dot lastname at gmail</noscript>
            {{/if}}
        </li>
    {{/each}}
</ul>