<header class="container site-header">
    <img src="{{ imageUrl 'allen-garvey.jpg' }}" alt="Photo of Allen Garvey" class="author-img">
    <h1 class="site-title">Allen Garvey</h1>
    <div class="nav-overlay-container">
        <div class="tagline">
            <div class="tagline-overlay"></div>
            <p class="tagline-text">Software developer, artist and musician</p>
        </div>
    </div>
</header>
