_site
.sass-cache
.jekyll-metadata
.DS_Store
*.sublime-project
*.sublime-workspace
**/.sass-cache/*
.sass-cache
.sass-cache/*
node_modules/*
*.bmp
Thumbs.db
*.ttf
*.otf
*.eot
*.woff
*.zip
.directory
php/inc/js/*