---
layout: default
---

<main class="home wrapper">
    <div class="home-menu">
        <ul>
            <li data-section="contact"><h2>Contact</h2></li>
            <li data-section="projects"><h2>Projects</h2></li>
        </ul>
    </div>
    <section class="home-section" data-section="contact">
        <h2 class="section-heading">Contact</h2>
        <ul>
        	<li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        	<li>{% include icon-github.html username=site.github_username %}</li>
        </ul>
    </section>
    <section class="home-section" data-section="projects">
        <h2 class="section-heading">Projects</h2>
        <ul>
            {% for post in site.posts %}
                <li>
                    <h3>{{ post.title }}</h3>
                    <div>
                        {{ post.content }}
                        <span><a href="https://github.com/{{ site.github_username }}/{{ post.github }}">GitHub</a></span>
                        <span><a href="{{ post.project_url }}">{{ post.project_url_short }}</a></span>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </section>
</main>
