---
layout: default
---

<main class="home wrapper">
    <section class="home-section" data-section="contact" id="contact">
        <h2 class="section-heading">Contact</h2>
        <ul>
        	<li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        	<li>{% include icon-github.html username=site.github_username %}</li>
        </ul>
    </section>
    <section class="home-section" data-section="projects" id="projects">
        <h2 class="section-heading">Projects</h2>
        <ul class="projects-list">
            {% for post in site.posts %}
               {% include project.html %}
            {% endfor %}
        </ul>
    </section>
    <section class="home-section" data-section="skills" id="skills">
        <h2 class="section-heading">Skills</h2>
        <div>
            <p>I have many skills.</p>
        </div>
    </section>
</main>
