---
layout: default
---

<main class="home wrapper">
    <section id="homepage-text">
        {% include homepage_text.html %}
    </section>
    <section class="home-section" data-section="contact" id="contact">
        <h2 class="section-heading">Contact</h2>
        {% include contact-list.html %}
    </section>
    <section class="home-section" data-section="projects" id="projects">
        <h2 class="section-heading">Projects</h2>
        <ul class="projects-list">
            {% for post in site.posts %}
               {% include project.html %}
            {% endfor %}
        </ul>
    </section>
    <section class="home-section" data-section="skills" id="skills">
        <h2 class="section-heading">Skills</h2>
        <div>
            {% include skills.html %}
        </div>
    </section>
</main>
