<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Allen Garvey | Full-stack Developer</title>
    <meta name="description" content="Personal website for Allen Garvey, full-stack software developer">
    <link rel="stylesheet" href="/assets/main.css">
    <script>document.documentElement.className = 'js';</script>
</head>
<body>
    {{>header header=header }}
    <div class="page-content">
        {{{ body }}}
    </div>
    <script>{{{ scriptContent }}}</script>
    {{#if websocketPort}}
        {{>websocket-js websocketPort=websocketPort }}
    {{/if}}
</body>
</html>