@use 'sass:math';
@use 'variables';
@use 'mixins';

html {
    --color-text: #000;
    --color-background: #fafff6;
    --color-link: #1467d3;
    --color-link-visited: purple;

    --color-media-controls-background: #314a31;
}

@media (prefers-color-scheme: dark) {
    html {
        --color-text: #fff;
        --color-background: #121;
        --color-link: #4b99ff;
        --color-link-visited: rgb(201, 108, 201);

        --color-media-controls-background: #1f3e1f;
    }
}

/**
 * Reset some basic elements
 */
body,
h1,
h2,
h3,
p,
ul {
    margin: 0;
    padding: 0;
}

/**
 * Basic styling
 */
body {
    font-family: 'Noto Sans', 'Roboto', -apple-system, 'Helvetica Neue',
        Helvetica, 'Ubuntu', 'Calibri', 'Arial', sans-serif;
    line-height: 1.5;
    color: var(--color-text);
    background-color: var(--color-background);
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: 'kern' 1;
    -moz-font-feature-settings: 'kern' 1;
    -o-font-feature-settings: 'kern' 1;
    font-feature-settings: 'kern' 1;
    font-kerning: normal;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1,
h2,
h3 {
    margin-bottom: 1rem;
}

p {
    margin-bottom: 1em;
}

section {
    margin-bottom: variables.$spacing-unit * 2;

    &:last-of-type {
        margin-bottom: 0;
    }
}

img {
    max-width: 100%;
    vertical-align: middle;
}

ul {
    list-style-type: none;
}

h1 {
    font-weight: 600;
    font-size: 3.157rem;
}
h2 {
    font-weight: 600;
    font-size: 1.777rem;
}
h3 {
    font-size: 1.25rem;
    font-weight: 400;
}

a {
    color: var(--color-link);
    text-decoration: none;

    &:visited {
        color: var(--color-link-visited);
    }

    &:hover {
        text-decoration: underline;
    }
}

.container {
    box-sizing: border-box;
    max-width: 1244px;
    margin: 0 auto;
}

.main-content {
    padding: 0.5rem variables.$project-icon-width 4rem;

    @include mixins.media-query(variables.$on-laptop) {
        padding-right: math.div(variables.$spacing-unit, 2);
        padding-left: math.div(variables.$spacing-unit, 2);
    }
}

.page-content {
    margin-bottom: 12em;
}
