@use 'sass:math';
@use 'variables';
@use 'mixins';

/**
 * Reset some basic elements
 */
body, h1, h2, h3, p, ul{
    margin: 0;
    padding: 0;
}


/**
 * Basic styling
 */
body {
    font-family: 'Noto Sans', 'Roboto', -apple-system, 'Helvetica Neue', Helvetica, 'Ubuntu', 'Calibri', 'Arial', sans-serif;
    line-height: 1.5;
    --body-text-color: #000;
    color: var(--body-text-color);
    background-color: #f9fff9;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3{
    margin-bottom: 1rem;
}

p {
    margin-bottom: 1em;
}

section {
    margin-bottom: variables.$spacing-unit * 2;

    &:last-of-type {
        margin-bottom: 0;
    }
}


/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}


/**
 * Lists
 */
ul{
    list-style-type: none;
}


/**
 * Headings
 */
h1{
    font-weight: 600;
    font-size: 3.157rem;
}
h2{
    font-weight: 600;
    font-size: 1.777rem;
}
h3{
    font-size: 1.25rem;
    font-weight: 400;
}



/**
 * Links
 */
a {
    color: #1467d3;
    text-decoration: none;

    &:visited {
        color: purple;
    }

    &:hover {
        text-decoration: underline;
    }
}

.container {
    box-sizing: border-box;
    max-width: 1244px;
    margin: 0 auto;
}

.main-content {
    padding: variables.$spacing-unit * 2 variables.$project-icon-width;

    @include mixins.media-query(variables.$on-laptop) {
        padding-right: math.div(variables.$spacing-unit, 2);
        padding-left:  math.div(variables.$spacing-unit, 2);
    }
}

.page-content{
    margin-bottom: 12em;
}

@media (prefers-color-scheme: dark) {
    body {
        --body-text-color: #fff;
        background-color: #121;
    }
    a {
        color: #4b99ff;
    
        &:visited {
            color: rgb(201, 108, 201);
        }
    }
}

