/**
 * Reset some basic elements
 */
body, h1, h2, h3, p, hr, ol, ul{
    margin: 0;
    padding: 0;
}



/**
 * Basic styling
 */
body {
    font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, p{
    margin-bottom: $spacing-unit / 2;
}

section {
    margin-bottom: $spacing-unit * 3;

    &:last-of-type {
        margin-bottom: 0;
    }
}


/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}


/**
 * Lists
 */
ul{
    list-style-type: none;
}


/**
 * Headings
 */
h1{
    font-weight: 600;
    font-size: 3.157em;
}
h2{
    font-weight: 600;
    font-size: 1.777em;
}
h3{
    font-size: 1.333em;
    font-weight: $base-font-weight;
}



/**
 * Links
 */
a {
    color: $brand-color;
    text-decoration: none;

    &:visited {
        color: darken($brand-color, 15%);
    }

    &:hover {
        color: $text-color;
        text-decoration: underline;
    }
}

.container {
    box-sizing: border-box;
    max-width: 1244px;
    margin: 0 auto;
}

.main-content {
    padding: $spacing-unit * 2 $project-icon-width;

    @include media-query($on-laptop) {
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}

.page-content{
    margin-bottom: 12em;
}

.section-heading {
    font-weight: 400;
}

