/**
 * Site header
 */
.site-header {
    padding-top: 4em;
    text-align: center;
    background-position: center;
	background-image: url('/images/wave-pattern.png');
	image-rendering: -webkit-crisp-edges; // Safari 7+
	image-rendering: -moz-crisp-edges; // Firefox 3.6+
	image-rendering: -o-crisp-edges; // Opera 12
	image-rendering: pixelated; // Chrome 41+ and Opera 26+
}
.author_img{
    width: 110px;
    border-radius: 50%;
    @include material;
}
.site-title{
	margin: -8px 0 0;
	color: white;
	mix-blend-mode: overlay;
	text-shadow: 0px -1px 10px #333; //similar to material shadow, but slightly reduced to recede into background
}
.tagline{
	display: inline-block;
	position: relative;
	top: -3px;
	z-index: 100;
	padding: 0 6px;
	margin-bottom: 1.5em;
	box-shadow: $material-shadow-light;
}
.tagline-overlay{
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 1;
	background-color: white;
	mix-blend-mode: overlay;
	opacity: 0.65;
}
.tagline-text{
	position: relative;
	z-index: 100;
	margin-bottom: 0;
}

@media (max-width: 1199px){
	.site-header{
		padding-top: 2em;
	}
	.author_img{
		width: 94px;
	}
	.site-title{
		margin-top: -10px;
	}
}


.nav-overlay-container{
	position: relative;
}
.nav-overlay{
	position: absolute;
	z-index: 1;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	// // Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,1+100 
	background: linear-gradient(to bottom,  rgba(255,255,255,0) 25%,rgba(255,255,255,1) 100%); // W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ 
}

.nav{
	position: relative;
	z-index: 100;
	a{
		color: inherit;
		&:hover{
			text-decoration: none;
		}
	}
	ul{
		display: flex;
		justify-content: space-between;
		max-width: 500px;
		margin: 0 auto 1em;
	}
	li{
		cursor: pointer;
	}
	h2{
		font-weight: normal;
		// padding: 0.2em 0.8em;
		padding: 0.1em 0.4em;
	}
	li.active h2, li:hover h2{
		@include material_active;
	}
	li.active h2{
		font-weight: 600;
	}
}

@media (max-width: 500px){
	.nav{
		font-size: 0.8em;
	}
}