/**
 * Site header
 */
.site-header {
    padding: 3em 0 2.5em;
	text-align: center;
	background-color: #30492d;
	background-position: center;
	background-image: url('/images/sound-of-my-voice-canvas.jpg');
	background-image: url('/images/sound-of-my-voice-canvas.webp');
	image-rendering: -webkit-crisp-edges; // Safari 7+
	image-rendering: -moz-crisp-edges; // Firefox 3.6+
	image-rendering: -o-crisp-edges; // Opera 12
	image-rendering: pixelated; // Chrome 41+ and Opera 26+
	position: relative;

	// based on: https://una.im/vignettes/
	&:after {
		content: '';
		position: absolute;
		top: 0; left: 0; bottom: 0; right: 0;
		box-shadow: inset 0px 0px 150px rgba(3,23,3,0.9);
	  }
}
.author-img{
    width: 168px;
    border-radius: 50%;
    @include material;
}
.site-title{
	margin: -8px 0 0;
	color: #f6fff0;
	text-shadow: 0px -1px 10px #333; //similar to material shadow, but slightly reduced to recede into background
}
.tagline{
	display: inline-block;
	position: relative;
	top: -3px;
	z-index: 100;
	padding: 0 6px;
	box-shadow: $material-shadow-light;
}
.tagline-overlay{
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 1;
	background-color: white;
	mix-blend-mode: overlay;
	opacity: 0.65;
}
.tagline-text{
	position: relative;
	z-index: 100;
	margin-bottom: 0;
}

@media (max-width: 1199px){
	.site-header{
		padding-top: 2em;
	}
	.author-img{
		width: 94px;
	}
	.site-title{
		margin-top: -10px;
	}
}
