@use 'variables';

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}


@mixin material{
	box-shadow: variables.$material-shadow;
}
@mixin material_active{
	@include material;
	transform: scale(1.1);
	transition: transform 0.05s;
	background-color: #0D47A1;
	color: white;
}