@use 'variables';
@use 'mixins';

#music-playlist {
    margin-left: -3rem;

	@include mixins.media-query(variables.$on-laptop) {
        margin-left: 0;
    }


    // styles from music-hall
    button {
        background-color: transparent;
        border: none;
    
        &:focus-visible {
            outline: #0f0 solid 2px;
        }
    }
}
