.project-links{
	span:nth-of-type(2n){
		margin-left: 2em;
		@include media-query($on-laptop) {
			margin-left: 5em;	
		}
	}
}

.projects-list {
	margin-left: $project-icon-width * -1;

	@include media-query($on-laptop) {
        margin-left: 0;
    }

	li{
		margin-bottom: $spacing-unit * 1.5;
		display: flex;

		&:last-of-type{
			margin-bottom: 0;
		}
	}
}

.project-title{
	margin-bottom: 0.1em;
	a{
		color: var(--body-text-color);
	}
}
.project-logo{
	padding: 1em;
	flex-basis: 100px;

	@include media-query($on-laptop) {
        flex-basis: 67px;
	}
	
	@include media-query($on-palm) {
        display: none;
    }
}
.project-content{
	flex-basis: 95%;
}