$unobtrusive-link-color: #888;

.sections-nav {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    margin-bottom: 2rem;

    a {
        color: $unobtrusive-link-color;
    }
}

.section-header {
    display: flex;
    flex-wrap: wrap;
    gap: 0.8rem;
    align-items: baseline;
}

.section-heading {
    font-weight: 400;
}

a.section-heading-link {
    color: $unobtrusive-link-color;
    font-size: 0.9rem;
}
