.social-list{
    display: flex;
    flex-wrap: wrap;

    li{
        margin: 0 5em 1em 0;
    }

    @media screen and (max-width: 700px) {
        justify-content: space-between;

        li {
            flex-basis: 26%;
            margin: 0 0 2em 0;
        }
    }
}