$spacing-unit:     30px;
$project-icon-width: 141px;

$on-palm:          600px;
$on-laptop:        800px;


//material theme
$material-shadow: -1px -2px 4px rgba(20, 20, 20, 0.3);
$material-shadow-light: -1px -2px 4px rgba(20, 20, 20, 0.1);