<main class="container main-content">
    {{#each sections.list}}
        {{#with (lookup @root.sections this)}}
            <section id="{{ slug }}">
                <div class="section-header">
                    <h2 class="section-heading">{{ smartenQuotes heading }}</h2>
                    {{#if headingLink}}
                        <a href="{{ headingLink.url }}" class="section-heading-link">{{headingLink.text}}</a>
                    {{/if}}
                </div>
                {{> (lookup . 'slug') content=content}}
            </section>
        {{/with}}
    {{/each}}
</main>