<main class="home wrapper">
    {{#each sections.list}}
        {{#with (lookup @root.sections this)}}
            <section data-section="{{ slug }}">
                {{> (lookup . 'slug') content=content}}
            </section>
        {{/with}}
    {{/each}}
</main>