<main class="container main-content">
    {{#each sections.list}}
        {{#with (lookup @root.sections this)}}
            <section id="{{ slug }}">
                <h2 class="section-heading">{{ smartenQuotes heading }}</h2>
                {{> (lookup . 'slug') content=content}}
            </section>
        {{/with}}
    {{/each}}
</main>