 <li>
    <div class="project-logo"><img src="{{ site.url }}{{ site.baseurl }}/images/icons/{{ post.logo_url }}" alt=""></div>
    <div class="project-content">
        <h3 class="project-title">{{ post.title }}</h3>     
        <div>
            {{ post.content }}
            <div class="project-links">
            <span class="project-source-link"><a href="https://github.com/{{ site.github_username }}/{{ post.github }}">Source</a></span>
            {% if post.project_url %}
                <span class="project-demo-link"><a href="{{ post.project_url }}">Demo</a></span>
            {% endif %}
            </div>
        </div>
    </div>
</li>