/**
 * Site header
 */
.site-header {
    margin-top: 6em;
    text-align: center;
    .author_img{
        width: 140px;
        border-radius: 50%;
    }
}

.home-menu{
	display: none;
	ul{
		display: flex;
		justify-content: space-between;
		max-width: 500px;
		margin: 0 auto 1em;
	}
	li{
		cursor: pointer;
	}
	h2{
		font-weight: normal;
	}
	li.active h2{
		font-weight: 600;
	}
}

//rules for browsers with js enabled only
.js{
	.home-menu{ 
		display: block; 
	}
	.home-section{ 
		display: none; 
	}
	.home-section .section-heading{ 
		display: none; 
	}
}


/**
 * Site footer
 */
.site-footer {
    padding: $spacing-unit 0;
}




