/**
 * Site header
 */
.site-header {
    margin-top: 6em;
    text-align: center;
    .author_img{
        width: 175px;
        border-radius: 20%;
    }
}


/**
 * Site footer
 */
.site-footer {
    padding: $spacing-unit 0;
}




