.project-links{
	span:nth-of-type(2n){
		margin-left: 2em;
		@include media-query($on-laptop) {
			margin-left: 5em;	
		}
	}
}

.projects-list li{
	margin-bottom: 2em;
	display: flex;
}

.project-title{
	margin-bottom: 0.1em;
}
.project-logo{
	padding: 1em;
	flex-basis: 100px;
}
.project-content{
	flex-basis: 95%;
}